<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>local</key>
	<dict>
		<key>properties</key>
		<array>
			<string>AppleInternal</string>
			<string>CPUArchitecture</string>
			<string>EffectiveProductionStatusSEP</string>
			<string>HWModel</string>
			<string>HasSEP</string>
			<string>IsUIBuild</string>
			<string>DeviceSupportsLockdown</string>
			<string>EffectiveSecurityModeAp</string>
			<string>SigningFuse</string>
			<string>BuildVersion</string>
			<string>OSVersion</string>
			<string>BridgeVersion</string>
			<string>SensitivePropertiesVisible</string>
			<string>ProductName</string>
			<string>ProductType</string>
			<string>SerialNumber</string>
			<string>BootSessionUUID</string>
			<string>DeviceColor</string>
			<string>EffectiveProductionStatusAp</string>
			<string>EffectiveSecurityModeSEP</string>
			<string>UniqueChipID</string>
			<string>UniqueDeviceID</string>
			<string>RemoteXPCVersionFlags</string>
			<string>CertificateProductionStatus</string>
			<string>CertificateSecurityMode</string>
			<string>DeviceClass</string>
			<string>DeviceEnclosureColor</string>
			<string>SecurityDomain</string>
			<string>OSInstallEnvironment</string>
			<string>Image4Supported</string>
		</array>
		<key>services</key>
		<array>
			<dict>
				<key>name</key>
				<string>com.apple.corecaptured.remoteservice</string>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.remote.installcoordination_proxy</string>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.mobile.storage_mounter_proxy.bridge.macOS</string>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.osanalytics.logRelay</string>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.CSCSupportd</string>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.mobile.storage_mounter_proxy.bridge</string>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.sysdiagnose.remote</string>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.mobile.notification_proxy.remote</string>
			</dict>
		</array>
	</dict>
	<key>remote</key>
	<dict>
		<key>properties</key>
		<array>
			<string>AppleInternal</string>
			<string>CPUArchitecture</string>
			<string>ChipID</string>
			<string>EffectiveProductionStatusSEP</string>
			<string>HWModel</string>
			<string>HasSEP</string>
			<string>LocationID</string>
			<string>IsUIBuild</string>
			<string>RegionInfo</string>
			<string>DeviceSupportsLockdown</string>
			<string>EffectiveSecurityModeAp</string>
			<string>SigningFuse</string>
			<string>BuildVersion</string>
			<string>OSVersion</string>
			<string>BridgeVersion</string>
			<string>SensitivePropertiesVisible</string>
			<string>BoardRevision</string>
			<string>Image4CryptoHashMethod</string>
			<string>MobileDeviceMinimumVersion</string>
			<string>ProductName</string>
			<string>ProductType</string>
			<string>SerialNumber</string>
			<string>BootSessionUUID</string>
			<string>BoardId</string>
			<string>DeviceColor</string>
			<string>EffectiveProductionStatusAp</string>
			<string>EffectiveSecurityModeSEP</string>
			<string>UniqueChipID</string>
			<string>UniqueDeviceID</string>
			<string>RemoteXPCVersionFlags</string>
			<string>CertificateProductionStatus</string>
			<string>CertificateSecurityMode</string>
			<string>DeviceClass</string>
			<string>DeviceEnclosureColor</string>
			<string>ModelNumber</string>
			<string>SecurityDomain</string>
			<string>OSInstallEnvironment</string>
			<string>InterfaceIndex</string>
			<string>HardwarePlatform</string>
			<string>Image4Supported</string>
		</array>
		<key>services</key>
		<array>
			<dict>
				<key>name</key>
				<string>com.apple.eos.BiometricKit</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.eos.LASecureIO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.corecaptured.remoteservice</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.nfcd.relay.control</string>
				<key>properties</key>
				<dict>
					<key>UsesBridgeXPC</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.xpc.remote.mobile_obliteration</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.TrustedAccessoryController</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.internal.xpc.remote.kext_audit</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.sysdiagnose.remote</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.sysdiagnose.stackshot.remote</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.powerchime.remote</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.bridgeOSUpdated</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>nane</key>
				<string>com.apple.xpc.remote.multiboot</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.corespeech.xpc.remote.control</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.private.avvc.xpc.remote</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.corespeech.xpc.remote.record</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.videoprocessingd.encode.remote</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.multiverse.remote.bridgetime</string>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.recoverylogd.bridge</string>
				<key>properties</key>
				<dict>
					<key>ServiceVersion</key>
					<integer>1</integer>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.mobileactivationd.bridge</string>
				<key>properties</key>
				<dict>
					<key>ServiceVersion</key>
					<integer>1</integer>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.nfcd.relay.uart</string>
				<key>properties</key>
				<dict>
					<key>UsesBridgeXPC</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.osanalytics.logTransfer</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.CoreKDL.remoteXPC</string>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.icloud.findmydeviced.bridge</string>
				<key>properties</key>
				<dict>
					<key>ServiceVersion</key>
					<integer>1</integer>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.lskdd</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.aveservice</string>
				<key>properties</key>
				<dict>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>com.apple.RestoreRemoteServices.restoreserviced</string>
				<key>properties</key>
				<dict>
					<key>ServiceVersion</key>
					<integer>2</integer>
					<key>UsesRemoteXPC</key>
					<true/>
				</dict>
				<key>version</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
