<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>com.apple.AppStore</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.AssistantServices</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.imtransferservices.IMTransferAgent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.locationd</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.Preferences</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.loginwindow</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.ViewBridgeAuxiliary</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.dock</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.systemuiserver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.controlcenter</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.controlstrip</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.ViewBridgeAuxiliary</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.quicklook.QuickLookUIService</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.dock.extra</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.AppSSOAgent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.finder</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.talagent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.Spotlight</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.notificationcenterui</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.AirPlayUIAgent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.TextInputMenuAgent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.TextInputSwitcher</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.coreservices.uiagent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.wifi.WiFiAgent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.UIKitSystemApp</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.CoreLocationAgent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.security.Keychain-Circle-Notification</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.SoftwareUpdateNotificationManager</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.locationmenu</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.AquaAppearanceHelper</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.inputmethod.EmojiFunctionRowItem</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.accessibility.universalAccessAuthWarn</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.LocalAuthentication.UIAgent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.Safari</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.Safari.SandboxBroker</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.WebKit.Networking</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.WebKit.WebContent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.CoreSimulator.CoreSimulatorService</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.CoreSimulator.SimulatorTrampoline</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.appkit.xpc.openAndSavePanelService</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.quicklook.QuickLookUIService</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.WebKit.WebContent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.Terminal</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.WebKit.GPU</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.PowerChime</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.imdpersistence.IMDPersistenceAgent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.QuickLookThumbnailing.extension.ThumbnailExtension-macOS</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.nbagent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.quicklook.QuickLookUIService</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.WebKit.WebContent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.TV</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.NowPlayingTouchUI</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.AVKit.RoutePickerViewService</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.WebKit.Networking</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.OSDUIHelper</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.LookupViewService</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.QuickLookUIFramework.QLPreviewGenerationExtension</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.dt.Xcode</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.appkit.xpc.openAndSavePanelService</string>
	</dict>
	<dict>
		<key>id</key>
		<string>com.apple.quicklook.QuickLookUIService</string>
	</dict>
</array>
</plist>
