<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clients</key>
	<array>
		<string>AMPDeviceDiscoveryAgent</string>
		<string>Safari</string>
		<string>SpringBoard</string>
		<string>accountsd</string>
		<string>atwakeup</string>
		<string>backupd</string>
	</array>
	<key>domains</key>
	<array>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>name</key>
			<string>com.apple.Accessibility</string>
			<key>properties</key>
			<array>
				<string>ClosedCaptioningEnabledByiTunes</string>
				<string>InvertDisplayEnabledByiTunes</string>
				<string>MonoAudioEnabledByiTunes</string>
				<string>SpeakAutoCorrectionsEnabledByiTunes</string>
				<string>VoiceOverTouchEnabledByiTunes</string>
				<string>ZoomTouchEnabledByiTunes</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>name</key>
			<string>com.apple.MobileDeviceCrashCopy</string>
			<key>properties</key>
			<array/>
		</dict>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>name</key>
			<string>com.apple.TerminalFlashr</string>
			<key>properties</key>
			<array/>
		</dict>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>name</key>
			<string>com.apple.mobile.backup</string>
			<key>properties</key>
			<array>
				<string>CloudBackupEnabled</string>
				<string>LastCloudBackupDate</string>
				<string>LastCloudBackupTZ</string>
				<string>WillEncrypt</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>name</key>
			<string>com.apple.mobile.data_sync</string>
			<key>properties</key>
			<array/>
		</dict>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>name</key>
			<string>com.apple.mobile.iTunes</string>
			<key>properties</key>
			<array/>
		</dict>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>name</key>
			<string>com.apple.mobile.iTunes.accessories</string>
			<key>properties</key>
			<array/>
		</dict>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>name</key>
			<string>com.apple.mobile.restriction</string>
			<key>properties</key>
			<array>
				<string>ClosedCaptioningEnabledByiTunes</string>
				<string>CloudBackupEnabled</string>
				<string>DeveloperStatus</string>
				<string>EnableWifiConnections</string>
				<string>EnableWifiDebugging</string>
				<string>InvertDisplayEnabledByiTunes</string>
				<string>LastCloudBackupDate</string>
				<string>LastCloudBackupTZ</string>
				<string>MonoAudioEnabledByiTunes</string>
				<string>Notes</string>
				<string>ProhibitAppDelete</string>
				<string>ProhibitAppInstall</string>
				<string>RestoreState</string>
				<string>SetupState</string>
				<string>SpeakAutoCorrectionsEnabledByiTunes</string>
				<string>VoiceOverTouchEnabledByiTunes</string>
				<string>WillEncrypt</string>
				<string>ZoomTouchEnabledByiTunes</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>name</key>
			<string>com.apple.mobile.tethered_sync</string>
			<key>properties</key>
			<array>
				<string>Notes</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>name</key>
			<string>com.apple.mobile.wireless_lockdown</string>
			<key>properties</key>
			<array>
				<string>EnableWifiConnections</string>
				<string>EnableWifiDebugging</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>name</key>
			<string>com.apple.purplebuddy</string>
			<key>properties</key>
			<array>
				<string>RestoreState</string>
				<string>SetupState</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
			<data>
			BAgw
			</data>
			<key>name</key>
			<string>com.apple.xcode.developerdomain</string>
			<key>properties</key>
			<array>
				<string>DeveloperStatus</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
