<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>AAPL,ignore</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ApChipID</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>Intel</string>
			<string>bridgeOS</string>
		</array>
		<key>scopes</key>
		<array>
			<string>94b73556-2197-4702-82a8-3e1337dafbfb</string>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>Controls trust in Microsoft&#39;s PCA 2011 cert for Apple Secure Boot</string>
		<key>name</key>
		<string>AppleSecureBootWindowsPolicy</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>Intel</string>
			<string>bridgeOS</string>
		</array>
		<key>scopes</key>
		<array>
			<string>94b73556-2197-4702-82a8-3e1337dafbfb</string>
		</array>
		<key>type</key>
		<string>:boolean</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BOSCatalogURL</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BaseSystemAccessabiliityFeatures</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BluetoothInfo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BluetoothUHEDevices</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DClr_override</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DebugBluetoothHIDShim</string>
	</dict>
	<dict>
		<key>description</key>
		<string>boot.efi background color. Stored as BGRA.</string>
		<key>name</key>
		<string>DefaultBackgroundColor</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>Intel</string>
		</array>
		<key>scopes</key>
		<array>
			<string>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>GPUROM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HW_BOOT_DATA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HardwareModel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IASCurrentInstallPhase</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IASInstallPhaseList</string>
	</dict>
	<dict>
		<key>description</key>
		<string>This is the update url used for install / update.  Security issues can occur when set to HTTP.  Typically managed through `seedutil`</string>
		<key>name</key>
		<string>IASUCatalogURL</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>Intel</string>
		</array>
		<key>type</key>
		<string>:string</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IDInstallerDataV2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IOBusyInterest</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IODeviceMemory</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IOPlatformActiveAction</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IOPlatformHaltRestartAction</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IOPlatformPanicAction</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IOPlatformQuiensceAction</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IOPlatformSleepAction</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IOPlatformWakeAction</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IORematchPersonality</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LocationServicesEnabled</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OTA-fsck-metrics</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OTA-post-conversion</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OTA-pre-conversion</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OTA-sealvolume-metrics</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PSFU_STATUS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SleepWakeFailurePanic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SleepWakeFailureString</string>
	</dict>
	<dict>
		<key>name</key>
		<string>StartupManagerPolicy</string>
		<key>scopes</key>
		<array>
			<string>5eeb160f-45fb-4ce9-b4e3-610359abf6f8</string>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>Mute startup chime</string>
		<key>name</key>
		<string>StartupMute</string>
		<key>scopes</key>
		<array>
			<string>default</string>
		</array>
		<key>type</key>
		<string>:integer</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SystemAudioVolume</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SystemAudioVolumeExtension</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SystemAudioVolumeSaved</string>
	</dict>
	<dict>
		<key>description</key>
		<string>boot.efi interface scaling</string>
		<key>name</key>
		<string>UIScale</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>Intel</string>
		</array>
		<key>scopes</key>
		<array>
			<string>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>_csegbufsz_experiment</string>
	</dict>
	<dict>
		<key>name</key>
		<string>_libmalloc_experiment</string>
	</dict>
	<dict>
		<key>name</key>
		<string>aapl,panic-info</string>
	</dict>
	<dict>
		<key>name</key>
		<string>aapl,pci</string>
	</dict>
	<dict>
		<key>name</key>
		<string>acc-cm-override-charger-count</string>
	</dict>
	<dict>
		<key>name</key>
		<string>acc-cm-override-count</string>
	</dict>
	<dict>
		<key>name</key>
		<string>acc-mb-ld-lifetime</string>
	</dict>
	<dict>
		<key>name</key>
		<string>adbe-tunable</string>
	</dict>
	<dict>
		<key>name</key>
		<string>adbe-tunables</string>
	</dict>
	<dict>
		<key>name</key>
		<string>adfe-tunables</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Apple Hardware Test (diags) - PList</string>
		<key>name</key>
		<string>aht-results</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>PPC</string>
			<string>Intel</string>
		</array>
		<key>type</key>
		<string>:string</string>
	</dict>
	<dict>
		<key>name</key>
		<string>allow-root-hash-mismatch</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ane-type</string>
	</dict>
	<dict>
		<key>name</key>
		<string>aud-early-boot-critical</string>
	</dict>
	<dict>
		<key>description</key>
		<string>If the device should `fsboot` upon power on</string>
		<key>name</key>
		<string>auto-boot</string>
		<key>type</key>
		<string>:boolean</string>
	</dict>
	<dict>
		<key>name</key>
		<string>auto-boot-halt-stage</string>
	</dict>
	<dict>
		<key>name</key>
		<string>auto-boot-usb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>auto-boot-x86-once</string>
	</dict>
	<dict>
		<key>name</key>
		<string>auto-boot?</string>
		<key>type</key>
		<string>:boolean</string>
	</dict>
	<dict>
		<key>name</key>
		<string>backlight-level</string>
		<key>scopes</key>
		<array>
			<string>common</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>backlight-nits</string>
	</dict>
	<dict>
		<key>name</key>
		<string>base-system-path</string>
	</dict>
	<dict>
		<key>name</key>
		<string>battery-health</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bluetoothActiveControllerInfo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bluetoothHostControllerSwitchBehaviour</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bluetoothInternalControllerInfo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>board-id</string>
	</dict>
	<dict>
		<key>description</key>
		<string>String passed to the XNU kernel at boot (M1&#39;s do filter this though)</string>
		<key>name</key>
		<string>boot-args</string>
		<key>persistent</key>
		<true/>
		<key>scopes</key>
		<array>
			<string>common</string>
		</array>
		<key>type</key>
		<string>:string</string>
	</dict>
	<dict>
		<key>name</key>
		<string>boot-breadcrumbs</string>
		<key>type</key>
		<string>:string</string>
	</dict>
	<dict>
		<key>name</key>
		<string>boot-command</string>
		<key>type</key>
		<string>:string</string>
	</dict>
	<dict>
		<key>name</key>
		<string>boot-device</string>
		<key>type</key>
		<string>:string</string>
	</dict>
	<dict>
		<key>name</key>
		<string>boot-file</string>
	</dict>
	<dict>
		<key>name</key>
		<string>boot-image</string>
	</dict>
	<dict>
		<key>name</key>
		<string>boot-partition</string>
		<key>type</key>
		<string>:number</string>
	</dict>
	<dict>
		<key>name</key>
		<string>boot-path</string>
	</dict>
	<dict>
		<key>name</key>
		<string>boot-ramdisk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>boot-script</string>
	</dict>
	<dict>
		<key>name</key>
		<string>boot-stage</string>
	</dict>
	<dict>
		<key>name</key>
		<string>boot-volume</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Seconds to pause before autoboot</string>
		<key>name</key>
		<string>bootdelay</string>
		<key>persistent</key>
		<true/>
		<key>type</key>
		<string>:number</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bt1addr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>btaddr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>build-style</string>
	</dict>
	<dict>
		<key>name</key>
		<string>build-version</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cam-use-ext-ldo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.System.boot-nonce</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.System.fp-state</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.System.sep.art</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.System.tz0-size</string>
	</dict>
	<dict>
		<key>name</key>
		<string>console-screen</string>
	</dict>
	<dict>
		<key>name</key>
		<string>core-bin-offset</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cpu-bin-offset</string>
	</dict>
	<dict>
		<key>description</key>
		<string>SIP bitmask (see csr.h in xnu source)</string>
		<key>name</key>
		<string>csr-active-config</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>Intel</string>
		</array>
		<key>scopes</key>
		<array>
			<string>common</string>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>Kexts to approve regardless of CSR_ALLOW_UNAPPROVED_KEXTS</string>
		<key>name</key>
		<string>csr-data</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>Intel</string>
		</array>
		<key>scopes</key>
		<array>
			<string>common</string>
		</array>
		<key>type</key>
		<string>:string</string>
	</dict>
	<dict>
		<key>name</key>
		<string>current-network</string>
		<key>scopes</key>
		<array>
			<string>36C28AB5-6566-4C50-9EBD-CBB920F83843</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>darkboot</string>
	</dict>
	<dict>
		<key>name</key>
		<string>debug-gg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>debug-soc</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Bitfield of which UARTs to enable</string>
		<key>name</key>
		<string>debug-uarts</string>
		<key>persistent</key>
		<true/>
		<key>type</key>
		<string>:integer</string>
	</dict>
	<dict>
		<key>name</key>
		<string>default-client-ip</string>
	</dict>
	<dict>
		<key>name</key>
		<string>default-gateway-ip</string>
	</dict>
	<dict>
		<key>name</key>
		<string>default-mac-address?</string>
		<key>type</key>
		<string>:boolean</string>
	</dict>
	<dict>
		<key>name</key>
		<string>default-router-ip</string>
	</dict>
	<dict>
		<key>name</key>
		<string>default-server-ip</string>
	</dict>
	<dict>
		<key>name</key>
		<string>default-subnet-mask</string>
	</dict>
	<dict>
		<key>name</key>
		<string>device-material</string>
	</dict>
	<dict>
		<key>name</key>
		<string>diag-device</string>
	</dict>
	<dict>
		<key>name</key>
		<string>diag-file</string>
	</dict>
	<dict>
		<key>name</key>
		<string>diag-switch?</string>
	</dict>
	<dict>
		<key>name</key>
		<string>diags-path</string>
	</dict>
	<dict>
		<key>name</key>
		<string>disable_screensavers</string>
	</dict>
	<dict>
		<key>name</key>
		<string>display-carveout-inhibitcache</string>
	</dict>
	<dict>
		<key>name</key>
		<string>display-color-space</string>
	</dict>
	<dict>
		<key>name</key>
		<string>display-rotation</string>
	</dict>
	<dict>
		<key>name</key>
		<string>display-timing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>e75</string>
	</dict>
	<dict>
		<key>name</key>
		<string>efi-backup-boot-device</string>
	</dict>
	<dict>
		<key>name</key>
		<string>efi-backup-boot-device-data</string>
	</dict>
	<dict>
		<key>name</key>
		<string>efi-boot-device</string>
	</dict>
	<dict>
		<key>name</key>
		<string>efi-boot-device-data</string>
	</dict>
	<dict>
		<key>name</key>
		<string>emu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>enable-remap-mode</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Enter USB Target Disk Mode</string>
		<key>name</key>
		<string>enter-tdm-mode</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>Intel</string>
		</array>
		<key>type</key>
		<string>:boolean</string>
	</dict>
	<dict>
		<key>name</key>
		<string>eth1addr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ethaddr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>failboot-breadcrumbs</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Forth code debugging for OpenFirmware</string>
		<key>name</key>
		<string>fcode-debug?</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>PPC</string>
		</array>
		<key>type</key>
		<string>:string</string>
	</dict>
	<dict>
		<key>name</key>
		<string>filesize</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fixed-lcm-boost</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fm-activation-locked</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fm-spstatus</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Current saved host name</string>
		<key>name</key>
		<string>fmm-computer-name</string>
		<key>scopes</key>
		<array>
			<string>common</string>
		</array>
		<key>type</key>
		<string>:string</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fmm-mobileme-token-FMM</string>
	</dict>
	<dict>
		<key>description</key>
		<string>If this value is true FMM is handled by the T2 coprocessor.  This is always false on Apple Silicon as there is no bridgeOS device</string>
		<key>name</key>
		<string>fmm-mobileme-token-FMM-BridgeHasAccount</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>Intel</string>
			<string>macOS ASi</string>
		</array>
		<key>type</key>
		<string>:boolean</string>
	</dict>
	<dict>
		<key>description</key>
		<string>If a device wipe has been requested by FindMy</string>
		<key>name</key>
		<string>fmm-mobileme-token-FMM-WipePending</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>Intel</string>
		</array>
		<key>type</key>
		<string>:boolean</string>
	</dict>
	<dict>
		<key>name</key>
		<string>force-upgrade-fail</string>
	</dict>
	<dict>
		<key>name</key>
		<string>gpu-policy</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Disable dGPU (I think only for older models)</string>
		<key>name</key>
		<string>gpu-power-prefs</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>Intel</string>
		</array>
		<key>scopes</key>
		<array>
			<string>FA4CE28D-B62F-4C99-9CC3-6815686E30F9</string>
		</array>
		<key>type</key>
		<string>:boolean</string>
	</dict>
	<dict>
		<key>name</key>
		<string>idle-off</string>
	</dict>
	<dict>
		<key>name</key>
		<string>input-device</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>PPC</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>input-device-1</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>PPC</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>ipaddr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>is-tethered</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kaslr-off</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kaslr-slide</string>
	</dict>
	<dict>
		<key>description</key>
		<string>If the CPU is a little endian architecture</string>
		<key>name</key>
		<string>little-endian?</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
			<string>PPC</string>
		</array>
		<key>type</key>
		<string>:boolean</string>
	</dict>
	<dict>
		<key>name</key>
		<string>load-base</string>
	</dict>
	<dict>
		<key>name</key>
		<string>loadaddr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>lts-persistance</string>
		<key>type</key>
		<string>:string</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mca-info0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mouse-device</string>
	</dict>
	<dict>
		<key>name</key>
		<string>multiupdater-retry-limits</string>
	</dict>
	<dict>
		<key>name</key>
		<string>multiupdater-state</string>
	</dict>
	<dict>
		<key>name</key>
		<string>net-boot</string>
	</dict>
	<dict>
		<key>name</key>
		<string>non-coherent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>nonce-seeds</string>
	</dict>
	<dict>
		<key>name</key>
		<string>nvramrc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oblit-begins</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oblit-inprogress</string>
	</dict>
	<dict>
		<key>name</key>
		<string>obliteration</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oem-banner</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oem-banner?</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oem-logo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oem-logo?</string>
	</dict>
	<dict>
		<key>name</key>
		<string>one-time-boot-command</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-anomalies</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-brain-version</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-breadcrumbs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-child-failures</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-context</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-controllerVersion</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-conv-panic-indicator</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-failure-reason</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-forced-reset-uptime</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-initial-breadcrumbs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-initial-result</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-install-tonight</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-internal-failure-reason</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-internal-forced-reset-uptime</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-original-os-version</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-os-version</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-outcome</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-perform-shutdown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-reboot-retry-enabled</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-reboot-retry-zone</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-result</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-battery-level</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-breadcrumbs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-codes</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-domains</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-enabled</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-error</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-external-power</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-failure-reason</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-ids</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-monitor</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-names</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-result</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-results</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-uptime</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-user-progress</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-retry-warnings</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-snapshot-update</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-step-battery-level</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-step-codes</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-step-domains</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-step-error</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-step-external-power</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-step-ids</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-step-monitor</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-step-names</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-step-results</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-step-uptime</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-step-user-progress</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-submission-url</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-updateType</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ota-uuid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ots-step-warnings</string>
	</dict>
	<dict>
		<key>name</key>
		<string>output-device</string>
	</dict>
	<dict>
		<key>name</key>
		<string>output-device-1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>panicmedic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pci-probe-list</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pci-probe-mask</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pinot-panel-id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pintoaddr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pmgr_cpu_override</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pmgr_gpu_override</string>
	</dict>
	<dict>
		<key>name</key>
		<string>policy-nonce-digests</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pre-recovery-ota-failure-uuid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>preferred-count</string>
		<key>scopes</key>
		<array>
			<string>36C28AB5-6566-4C50-9EBD-CBB920F83843</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>preferred-networks</string>
		<key>scopes</key>
		<array>
			<string>36C28AB5-6566-4C50-9EBD-CBB920F83843</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>prev-lang-diags:kbd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Default keyboard layout</string>
		<key>name</key>
		<string>prev-lang:kbd</string>
		<key>scopes</key>
		<array>
			<string>common</string>
		</array>
		<key>type</key>
		<string>:string</string>
	</dict>
	<dict>
		<key>name</key>
		<string>prevent-restores</string>
	</dict>
	<dict>
		<key>name</key>
		<string>previous-system-uuid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pwr-path</string>
	</dict>
	<dict>
		<key>name</key>
		<string>radio-error</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ramdisk-size</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ramrod-nvram-sequence</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ramrod-nvram-session</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ramrod-nvram-shadow-path</string>
	</dict>
	<dict>
		<key>name</key>
		<string>rbdaddr0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>real-base</string>
		<key>type</key>
		<string>:number</string>
	</dict>
	<dict>
		<key>name</key>
		<string>real-base?</string>
		<key>type</key>
		<string>:boolean</string>
	</dict>
	<dict>
		<key>name</key>
		<string>real-size</string>
		<key>type</key>
		<string>:number</string>
	</dict>
	<dict>
		<key>name</key>
		<string>recovery-boot-mode</string>
	</dict>
	<dict>
		<key>name</key>
		<string>recovery-boot-setting</string>
	</dict>
	<dict>
		<key>name</key>
		<string>recoveryos-inited-update</string>
	</dict>
	<dict>
		<key>name</key>
		<string>recoveryos-passcode-blob</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-child-failures</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-outcome</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-perform-shutdown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-reboot-retry-enabled</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-reboot-retry-zone</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-retry-codes</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-retry-domains</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-retry-error</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-retry-ids</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-retry-monitor</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-retry-names</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-retry-results</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-step-codes</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-step-domains</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-step-error</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-step-ids</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-step-monitor</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-step-names</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-step-results</string>
	</dict>
	<dict>
		<key>name</key>
		<string>restore-step-warnings</string>
	</dict>
	<dict>
		<key>name</key>
		<string>root-live-fs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>screen-#columns</string>
		<key>type</key>
		<string>:number</string>
	</dict>
	<dict>
		<key>name</key>
		<string>screen-#rows</string>
		<key>type</key>
		<string>:number</string>
	</dict>
	<dict>
		<key>description</key>
		<string>FireWire security mode 
See IOFireWireController.cpp in IOFireWireFamily: https://github.com/apple-oss-distributions/IOFireWireFamily/blob/IOFireWireFamily-483/IOFireWireFamily.kmodproj/IOFireWireController.cpp#L4212
</string>
		<key>name</key>
		<string>security-mode</string>
		<key>scopes</key>
		<array>
			<string>common</string>
		</array>
		<key>type</key>
		<string>:string</string>
	</dict>
	<dict>
		<key>name</key>
		<string>security-password</string>
	</dict>
	<dict>
		<key>name</key>
		<string>selftest-#megs</string>
		<key>type</key>
		<string>:number</string>
	</dict>
	<dict>
		<key>name</key>
		<string>serverip</string>
	</dict>
	<dict>
		<key>name</key>
		<string>soc-bin-offset</string>
	</dict>
	<dict>
		<key>name</key>
		<string>stress-rack</string>
	</dict>
	<dict>
		<key>name</key>
		<string>summit-panel-id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>system-passcode-lock-blob</string>
	</dict>
	<dict>
		<key>name</key>
		<string>target-uuid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tbt-options</string>
	</dict>
	<dict>
		<key>name</key>
		<string>update-volume</string>
	</dict>
	<dict>
		<key>name</key>
		<string>upgrade-boot-volume</string>
	</dict>
	<dict>
		<key>name</key>
		<string>upgrade-fallback-boot-command</string>
	</dict>
	<dict>
		<key>name</key>
		<string>usb-enabled</string>
	</dict>
	<dict>
		<key>name</key>
		<string>use-generic?</string>
	</dict>
	<dict>
		<key>name</key>
		<string>use-nvramrc?</string>
	</dict>
	<dict>
		<key>name</key>
		<string>utc-offset</string>
	</dict>
	<dict>
		<key>name</key>
		<string>virt-base</string>
	</dict>
	<dict>
		<key>name</key>
		<string>virt-size</string>
	</dict>
	<dict>
		<key>name</key>
		<string>wifi-fw-path</string>
	</dict>
	<dict>
		<key>name</key>
		<string>wifi-nvram-path</string>
	</dict>
	<dict>
		<key>name</key>
		<string>wifi1addr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>wifiaddr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>zhuge_debug</string>
	</dict>
</array>
</plist>
