<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pmu_errors</key>
	<array>
		<dict>
			<key>name</key>
			<string>rst</string>
		</dict>
		<dict>
			<key>description</key>
			<string>watchdog timer</string>
			<key>name</key>
			<string>wdog</string>
		</dict>
		<dict>
			<key>name</key>
			<string>timeout,dblclick_timeout</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sochot,reset_in_3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sstate,wallet_crash_seq</string>
		</dict>
		<dict>
			<key>description</key>
			<string>power-on reset</string>
			<key>name</key>
			<string>por</string>
		</dict>
		<dict>
			<key>name</key>
			<string>otp_crc</string>
		</dict>
		<dict>
			<key>name</key>
			<string>uv,vddmain_uvlo_hold</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sochot,reset_in_3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ot,overtemp</string>
		</dict>
		<dict>
			<key>name</key>
			<string>timeout,watchdog_timeout</string>
		</dict>
		<dict>
			<key>description</key>
			<string>under-voltage</string>
			<key>name</key>
			<string>uv,vddmain_uvlo</string>
		</dict>
		<dict>
			<key>description</key>
			<string>over-voltage</string>
			<key>name</key>
			<string>ov,vddmain_ovlo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>btn_shdn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sstate,btn_dfu_recover</string>
		</dict>
		<dict>
			<key>name</key>
			<string>btn_rst,two_finger_rst</string>
		</dict>
		<dict>
			<key>name</key>
			<string>uv,vdd_boost_uvlo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>crash,crash_in</string>
		</dict>
		<dict>
			<key>name</key>
			<string>btn_rst,btn_seq_reset</string>
		</dict>
		<dict>
			<key>name</key>
			<string>spmi,spmi_fault</string>
		</dict>
		<dict>
			<key>name</key>
			<string>wdog,reset_in_1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>dbg_rst,reset_in_2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ntc_shdn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>timeout,dblclick_timeout</string>
		</dict>
	</array>
</dict>
</plist>
