<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>AddressBook database repair</string>
		<key>name</key>
		<string>com.apple.ABDatabaseDoctor</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.AXMediaUtilitiesService</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.Accessibility.AccessibilityUIServer</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/System/Library/PrivateFrameworks/AdminLite.framework/Resources/AdminLiteTool</string>
		<key>description</key>
		<string>Turns on / off setting boot-args</string>
		<key>name</key>
		<string>com.apple.AdminLite</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.AppImageMounter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.AppleCredentialManagerDaemon</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Apple ID</string>
		<key>name</key>
		<string>com.apple.AppleSSODaemon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.AssetCacheLocatorService</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Bluetooth Audio/Video Remote Control Profile (AVRCP)</string>
		<key>name</key>
		<string>com.apple.BTServer.avrcp</string>
	</dict>
	<dict>
		<key>description</key>
		<string>iCloud Pairing for AirPods etc.</string>
		<key>name</key>
		<string>com.apple.BTServer.cloudpairing</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Bluetooth Message Access Profile (MAP)</string>
		<key>name</key>
		<string>com.apple.BTServer.map</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Bluetooth Phone Book Access Profile (PBAP)</string>
		<key>name</key>
		<string>com.apple.BTServer.pbap</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Camera QR code reader</string>
		<key>name</key>
		<string>com.apple.BarcodeSupport.BarcodeNotificationService</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.BlueTool</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.CallHistorySyncHelper</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.CarPlayApp</string>
		<key>platforms</key>
		<array>
			<string>iOS</string>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>Deal with the radios</string>
		<key>name</key>
		<string>com.apple.CommCenter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.CommCenterMobileHelper</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.CommCenterRootHelper</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/System/Library/Frameworks/LocalAuthentication.framework/Support/coreauthd</string>
		<key>description</key>
		<string>coreauthd is a system daemon or agent that provides LocalAuthentication services. It maintains the authenticated contexts and presents the authentication user interface.</string>
		<key>name</key>
		<string>com.apple.CoreAuthentication.agent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.CoreAuthentication.daemon</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/System/Library/PrivateFrameworks/CoreRoutine.framework/Versions/A/XPCServices/CoreRoutineHelperService.xpc/Contents/MacOS/CoreRoutineHelperService</string>
		<key>endpoints</key>
		<array>
			<string>com.apple.CoreRoutine.helperservice</string>
		</array>
		<key>name</key>
		<string>com.apple.CoreRoutine.helperservice</string>
		<key>platforms</key>
		<array>
			<string>macOS Intel</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.DMHelper</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Find phone numbers, shipping tracking codes</string>
		<key>name</key>
		<string>com.apple.DataDetectorsSourceAccess</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.DragUI.druid</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Collect logs from the Baseband if it crashes</string>
		<key>name</key>
		<string>com.apple.DumpBasebandCrash</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Reads kernel panics from block storage and writes to log</string>
		<key>name</key>
		<string>com.apple.DumpPanic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.EscrowSecurityAlert</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.FileCoordination</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.FileProvider</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.GSSCred</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.GameController.gamecontrollerd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.IOAccelMemoryInfoCollector</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.MapKit.SnapshotService</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.Maps.geocorrectiond</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.Maps.mapspushd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Update attached accessories like [[Haywire]]</string>
		<key>name</key>
		<string>com.apple.MobileAccessoryUpdater</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.MobileBackup.MBHelperService</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.MobileFileIntegrity</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.MobileInstallationHelperService</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.MobileInternetSharing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.MobileSoftwareUpdate.CleanupPreparePathService</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.OTACrashCopier</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.OTATaskingAgent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.PerfPowerServicesExtended</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.PointerUI.pointeruid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.PowerUIAgent</string>
	</dict>
	<dict>
		<key>description</key>
		<string>move crash logs, awdd and sysdiagnose from the watch to the phone</string>
		<key>name</key>
		<string>com.apple.ProxiedCrashCopier.ProxyingDevice</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.PurpleReverseProxy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.ReportCrash</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.ReportCrash.SimulateCrash</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.ReportMemoryException</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Smart Card helper</string>
		<key>name</key>
		<string>com.apple.SCHelper</string>
		<key>platforms</key>
		<array>
			<string>macOS</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.Safari.SafeBrowsing.Service</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.SafariBookmarksSyncAgent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.SafariCloudHistoryPushAgent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.ScreenTimeAgent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.SecureBackupDaemon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.SensorKitALSHelper</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.SepUpdateTimer</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.SpringBoard</string>
		<key>platforms</key>
		<array>
			<string>iOS</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.SyncAgent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.TextInput.kbd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/System/Library/PrivateFrameworks/TrustEvaluationAgent.framework/Resources/trustevaluationagent</string>
		<key>name</key>
		<string>com.apple.TrustEvaluationAgent</string>
		<key>platforms</key>
		<array>
			<string>macOS Intel</string>
		</array>
	</dict>
	<dict>
		<key>binary</key>
		<string>/System/Library/Frameworks/Security.framework/Versions/A/XPCServices/TrustedPeersHelper.xpc/Contents/MacOS/TrustedPeersHelper</string>
		<key>description</key>
<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>name</key>
		<string>com.apple.TrustedPeersHelper</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.UIKit.KeyboardManagement</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.UsageTrackingAgent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.UserEventAgent-System</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.VideoConversionService</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.VideoSubscriberAccount.DeveloperService</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.VideoSubscriberAccount.PrivacyService</string>
	</dict>
	<dict>
		<key>description</key>
		<string>VoiceOver or the reading of the UI to the user</string>
		<key>name</key>
		<string>com.apple.VoiceOverTouch</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.WebBookmarks.webbookmarksd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.WirelessRadioManager</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.abm-helper</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.absd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.accessablility.mediaaccessibilityd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Hearing aid</string>
		<key>name</key>
		<string>com.apple.accessibility.heard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.accessibility.motiontrackingd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>iAP or Apple Accessory Protocol - Handle accessories via USB / Lightning</string>
		<key>name</key>
		<string>com.apple.accessoryd</string>
		<key>platforms</key>
		<array>
			<string>iOS</string>
			<string>padOS</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.accounts.dom</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.accountsd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/adid</string>
		<key>name</key>
		<string>com.apple.adid</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/afcd</string>
		<key>name</key>
		<string>com.apple.afcd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Create aggregate logs</string>
		<key>name</key>
		<string>com.apple.aggregated</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.aggregated.addaily</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/airtunesd</string>
		<key>description</key>
		<string>iTunes library sharing</string>
		<key>name</key>
		<string>com.apple.airtunesd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>AuthKit</string>
		<key>name</key>
		<string>com.apple.akd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.amsaccountsd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.analyticsd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.and</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/adprivacyd</string>
		<key>description</key>
		<string>iAd privacy</string>
		<key>name</key>
		<string>com.apple.ap.adprivacyd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/adservicesd</string>
		<key>description</key>
		<string>iAd services</string>
		<key>name</key>
		<string>com.apple.ap.adservicesd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/adservicesd</string>
		<key>description</key>
		<string>Camera handler</string>
		<key>name</key>
		<string>com.apple.applecamerad</string>
	</dict>
	<dict>
		<key>description</key>
		<string>App Store</string>
		<key>name</key>
		<string>com.apple.appstored</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.apsd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/asd</string>
		<key>name</key>
		<string>com.apple.asd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.askpermissiond</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Apple System Log</string>
		<key>name</key>
		<string>com.apple.aslmanager</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.assetsd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.assetsd.nebulad</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.assistant_cdmd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.assistant_service</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.assistantd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.assistivetouchd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/atc</string>
		<key>name</key>
		<string>com.apple.atc</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/atwakeup</string>
		<key>name</key>
		<string>com.apple.atc.atwakeup</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.audio.toolbox.reporting.service</string>
	</dict>
	<dict>
		<key>description</key>
		<string>iMessage / iCloud profile photos</string>
		<key>name</key>
		<string>com.apple.avatarsd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Apple Wireless Diagnostics Daemon</string>
		<key>name</key>
		<string>com.apple.awdd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/backboardd</string>
		<key>name</key>
		<string>com.apple.backboardd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.backupd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>FaceID</string>
		<key>name</key>
		<string>com.apple.biometrickitd.pearl</string>
	</dict>
	<dict>
		<key>description</key>
		<string>iCloud Documents / Ubiquity Containers</string>
		<key>name</key>
		<string>com.apple.bird</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Bluetooth</string>
		<key>name</key>
		<string>com.apple.bluetoothd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.bookassetd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.bookdatastored</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.businesschatd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.cache_delete</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.calaccessd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Handle captive WiFi login</string>
		<key>name</key>
		<string>com.apple.captiveagent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.carkitd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.cdpd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.certui.relay</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.cfnetwork.AuthBrokerAgent</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Core Foundation networking</string>
		<key>name</key>
		<string>com.apple.cfnetwork.cfnetworkagent</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Core Foundation preference sync</string>
		<key>name</key>
		<string>com.apple.cfprefsd.xpc.daemon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.ckdiscretionaryd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>iCloud</string>
		<key>name</key>
		<string>com.apple.cloudd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>iCloud photo library</string>
		<key>name</key>
		<string>com.apple.cloudphotod</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.cmfsyncagent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.commandandcontrol</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.companion_proxy</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/configd</string>
		<key>name</key>
		<string>com.apple.configd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Provide contacts from a sync provider</string>
		<key>name</key>
		<string>com.apple.contacts.donation-agent</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Contacts handler</string>
		<key>name</key>
		<string>com.apple.contactsd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Mange App and Group containers</string>
		<key>name</key>
		<string>com.apple.containermanagerd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.contextstored</string>
	</dict>
	<dict>
		<key>description</key>
		<string>WiFi / Bluetooth diagnostic capture</string>
		<key>name</key>
		<string>com.apple.corecaptured</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.coredatad</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.coreduetd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/coreidvd</string>
		<key>description</key>
		<string>Daemon for the CoreIDV private framework (probably &quot;identity verification&quot; for Apple Pay)</string>
		<key>name</key>
		<string>com.apple.coreidvd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.coreparsec.silhoette</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.coreservices.useractivityd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.corespeechd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.corespotlightservice</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.coresymbolicationd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.crash_mover</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.crashreportcopymobile</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Cloud Token Kit daemon</string>
		<key>name</key>
		<string>com.apple.ctkd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/dasd</string>
		<key>description</key>
		<string>Duet Activity Scheduler Daemon (related to DuetActivityScheduler.framework)</string>
		<key>name</key>
		<string>com.apple.dasd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.dataaccess.dataaccessd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Handles data conversion after OS update</string>
		<key>name</key>
		<string>com.apple.datamigrator</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.datastored</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.deferredmediad</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.deleted_helper</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Figure out what profile to present when the device is connected via USB</string>
		<key>name</key>
		<string>com.apple.device-o-matic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.devicecheckd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.devicedataresetd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Diagnostics</string>
		<key>name</key>
		<string>com.apple.diagnosticd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Manage diagnostic extensions</string>
		<key>name</key>
		<string>com.apple.diagnosticextensionsd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/sbin/distnoted</string>
		<key>name</key>
		<string>com.apple.distnoted.xpc.agent</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Distributed notificaions</string>
		<key>name</key>
		<string>com.apple.distnoted.xpc.daemon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.dmd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Differential Privacy</string>
		<key>name</key>
		<string>com.apple.dprivacyd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.duetexpertd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Email daemon for background push</string>
		<key>name</key>
		<string>com.apple.email.maild</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Exchange mail/contacts handler</string>
		<key>name</key>
		<string>com.apple.exchangesyncd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Facebook account handler</string>
		<key>name</key>
		<string>com.apple.facebook.xpc</string>
	</dict>
	<dict>
		<key>description</key>
		<string>FairPlay is the DRM (digital rights management) system for Apple - research in this area is dangorous</string>
		<key>name</key>
		<string>com.apple.fairplay.H2</string>
	</dict>
	<dict>
		<key>description</key>
		<string>iCloud Family Management</string>
		<key>name</key>
		<string>com.apple.familycircled</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Notify UI for family events</string>
		<key>name</key>
		<string>com.apple.familynotificaiton</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/fdrhelper</string>
		<key>description</key>
		<string>Factory Data Reset</string>
		<key>name</key>
		<string>com.apple.fdrhelper</string>
	</dict>
	<dict>
		<key>description</key>
		<string>online defragment and optimize for APFS</string>
		<key>name</key>
		<string>com.apple.filesystems.apfs_defragd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Files.app service</string>
		<key>name</key>
		<string>com.apple.filesystems.livefileproviderd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Server Message Block client</string>
		<key>name</key>
		<string>com.apple.filesystems.smbclientd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.filesystems.userfs_helper</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.filesystems.userfsd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.followupd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.fontservicesd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.fs_task_scheduler</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Filesystem events</string>
		<key>name</key>
		<string>com.apple.fseventsd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.ftp-proxy-embedded</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.fusiond</string>
	</dict>
	<dict>
		<key>description</key>
		<string>GameKit</string>
		<key>name</key>
		<string>com.apple.gamed</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/System/Library/PrivateFrameworks/GeoServices.framework/Versions/A/XPCServices/com.apple.geod.xpc/Contents/MacOS/com.apple.geod</string>
		<key>description</key>
		<string>Geo-fencing</string>
		<key>name</key>
		<string>com.apple.geod</string>
		<key>platforms</key>
		<array>
			<string>macOS Intel</string>
		</array>
	</dict>
	<dict>
		<key>description</key>
		<string>GPS</string>
		<key>name</key>
		<string>com.apple.gpsd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.handreporter</string>
	</dict>
	<dict>
		<key>description</key>
		<string>iPad Handwriting Recogntion</string>
		<key>name</key>
		<string>com.apple.handwritingd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.hangtracerd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Health App</string>
		<key>name</key>
		<string>com.apple.healthappd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>HealthKit</string>
		<key>name</key>
		<string>com.apple.healthd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>HomeKit</string>
		<key>name</key>
		<string>com.apple.homed</string>
	</dict>
	<dict>
		<key>description</key>
		<string>iAccessory authentication</string>
		<key>name</key>
		<string>com.apple.iapauthd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>iAccessory Protocol handler</string>
		<key>name</key>
		<string>com.apple.iapd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.icloud.FindMyDevice.FindMyDeviceHelperXPCService</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Find my iPhone</string>
		<key>name</key>
		<string>com.apple.icloud.findmydeviced</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Find my friends</string>
		<key>name</key>
		<string>com.apple.icloud.fmfd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Find my friends</string>
		<key>name</key>
		<string>com.apple.icloud.fmflocatord</string>
	</dict>
	<dict>
		<key>description</key>
		<string>The searching component looking for offline devices broadcasging for FindMy and sending to Apple</string>
		<key>name</key>
		<string>com.apple.icloud.searchpartyd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.iconservices.iconservicesagent</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/idamd</string>
		<key>name</key>
		<string>com.apple.idamd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.identityservicesd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.ids.IDSCredentialsAgent</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Make URL requests under identity services without exposing credential</string>
		<key>name</key>
		<string>com.apple.idsfoundation.IDSRemoteURLConnectionAgent</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Instant Message Agent (iMessage)</string>
		<key>name</key>
		<string>com.apple.imagent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.imautomatichistorydeletionagent</string>
	</dict>
	<dict>
		<key>description</key>
		<string>iMessage attachment handler</string>
		<key>name</key>
		<string>com.apple.imcore.imtransferagent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.imdpersistence.IMDPersistenceAgent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.ind</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.installcoordinationd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.iomfb_bics_daemon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.iosdiagnosticsd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.itunescloudd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.itunesstored</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.languageassetd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.localizationswitcherd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Location services</string>
		<key>name</key>
		<string>com.apple.locationd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.lockdown</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Logging Daemon</string>
		<key>name</key>
		<string>com.apple.logd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Launch Services daemon</string>
		<key>name</key>
		<string>com.apple.lsd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/lskdd</string>
		<key>description</key>
		<string>Local System Kernel Debug Daemon?</string>
		<key>name</key>
		<string>com.apple.lskdd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/lskdmsed</string>
		<key>description</key>
		<string>Local System Kernel Debug Memory Daemon?</string>
		<key>name</key>
		<string>com.apple.lskdmsed</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mDNSResponder.reloaded</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mDNSResponderHelper.reloaded</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Mobile Device Manager daemon</string>
		<key>name</key>
		<string>com.apple.managedconfiguration.mdmd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Tells you to set a passcode if set from policy</string>
		<key>name</key>
		<string>com.apple.managedconfiguration.passscodenagd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>.mobileprofile management</string>
		<key>name</key>
		<string>com.apple.managedconfiguration.profiled</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.managedconfiguration.teslad</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.maps.destinationd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.matd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mdt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mediaanalysisd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>iTunes Cover Art</string>
		<key>name</key>
		<string>com.apple.mediaartworkd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.medialibraryd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mediaremoted</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mediaserverd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mediastream.mstreamd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.memory-maintenance</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.metrickitd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.midiserver</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Environment for OS upgrade migration plugins to run in</string>
		<key>name</key>
		<string>com.apple.migrationpluginwrapper</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/misagent</string>
		<key>description</key>
		<string>Provisioning profiles</string>
		<key>name</key>
		<string>com.apple.misagent</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Machine Learning modeling daemon</string>
		<key>name</key>
		<string>com.apple.mlmodelingd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>.mobileconfig management</string>
		<key>name</key>
		<string>com.apple.mobile.MCInstall</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobile.assertion_agent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobile.cache_delete_app_container_caches</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobile.cache_delete_daily</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobile.cache_delete_mobile_backup</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobile.heartbeat</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobile.insecure_notification_proxy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobile.installation_proxy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobile.installd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobile.keybagd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobile.notification_proxy</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Erase device via AppleEffacableStorage</string>
		<key>name</key>
		<string>com.apple.mobile.obliteration</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobile.softwareupdated</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobile.storage_mounter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobile.storage_mounter_proxy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobileactivationd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobileassetd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobilecheckpoint.checkpointd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Get device properties like model / serial</string>
		<key>name</key>
		<string>com.apple.mobilegestalt.xpc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobilestoredemod</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobilestoredemohelper</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mobiletimerd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>iTunes file transfer for application documents</string>
		<key>name</key>
		<string>com.apple.monbile.house_arrest</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.mtmergeprops</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.nand_task_scheduler</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Apple Watch backup agent</string>
		<key>name</key>
		<string>com.apple.nanobackupd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Apple Watch preference syncing</string>
		<key>name</key>
		<string>com.apple.nanoprefsyncd.2</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Apple Watch application registry (launch services)</string>
		<key>name</key>
		<string>com.apple.nanoregistryd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.nanoregistrylaunchd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Apple Watch Software Update Bridge</string>
		<key>name</key>
		<string>com.apple.nanosubridged</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.nanotimekitcompaniond</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.navd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.ndoagent</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/neagent</string>
		<key>description</key>
		<string>Network Extension - Agent</string>
		<key>name</key>
		<string>com.apple.neagent-ios</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/nearbyd</string>
		<key>name</key>
		<string>com.apple.nearbyd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/nehelper</string>
		<key>description</key>
		<string>Network Extensions</string>
		<key>name</key>
		<string>com.apple.nehelper</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/nesessionmanager</string>
		<key>name</key>
		<string>com.apple.nesessionmanager</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/networkserviceproxy</string>
		<key>name</key>
		<string>com.apple.networkserviceproxy</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Apple News</string>
		<key>name</key>
		<string>com.apple.newsd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/nfcd</string>
		<key>description</key>
		<string>Near Field Communications</string>
		<key>name</key>
		<string>com.apple.nfcd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/nfrestore_service</string>
		<key>name</key>
		<string>com.apple.nfrestore</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/ncld</string>
		<key>description</key>
		<string>Network Link Conditioner</string>
		<key>name</key>
		<string>com.apple.nlcd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.notifyd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.nsurlsessiond</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.nsurlstoraged</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.online-auth-agent.xpc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.osanalytics.osanalyticshelper</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.parsec-fbf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.parsecd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Passbook</string>
		<key>name</key>
		<string>com.apple.passd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Clipboard / Paseboard Services</string>
		<key>name</key>
		<string>com.apple.pasteboard.pasted</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/pcapd</string>
		<key>description</key>
		<string>Packet Capture</string>
		<key>name</key>
		<string>com.apple.pcapd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.peakpowermanagerd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.perfdiagsselfenabled</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/pfd</string>
		<key>description</key>
		<string>Packet Filter</string>
		<key>name</key>
		<string>com.apple.pfd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.photoanalysisd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.photos.ImageConversionService</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.pipelined</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/pkd</string>
		<key>description</key>
		<string>pkd manages plug-ins for the PlugInKit subsystem. It is a classic launch agent managed by launchd.</string>
		<key>endpoints</key>
		<array>
			<string>com.apple.pluginkit.pkd</string>
		</array>
		<key>name</key>
		<string>com.apple.pluginkit.pkd</string>
		<key>platforms</key>
		<array>
			<string>macOS Intel</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.pluginkit.pkreporter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.powerd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.powerlogHelperd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>First unlock screen</string>
		<key>name</key>
		<string>com.apple.preboardservice</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.preboardservice_v2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.printd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.proactiveeventtrackerd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.progressd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.protectedcloudstorage.protectedcloudkeysyncing</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Picture Transfer Protocol</string>
		<key>name</key>
		<string>com.apple.ptpcamerad</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Picture Transfer Protocol</string>
		<key>name</key>
		<string>com.apple.ptpd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.purplebuddy.budd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.quicklook.ThumbnailsAgent</string>
	</dict>
	<dict>
		<key>description</key>
		<string>VPN</string>
		<key>name</key>
		<string>com.apple.racoon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.rapportd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Most recently used (MRU) list</string>
		<key>name</key>
		<string>com.apple.recentsd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.relatived</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.remindd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.remotemanagementd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Game Kit instant replay</string>
		<key>name</key>
		<string>com.apple.replayd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Create user folder layout from template</string>
		<key>name</key>
		<string>com.apple.reversetimplated</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Historical file revision management</string>
		<key>name</key>
		<string>com.apple.revisiond</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.routined</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.rtcreportingd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.runningboardd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.safarifetcherd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>AirPlay</string>
		<key>name</key>
		<string>com.apple.screensharingserver</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.scrod</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Spotlight</string>
		<key>name</key>
		<string>com.apple.searchd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.security.CircleJoinRequested</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/System/Library/Frameworks/Security.framework/Versions/A/XPCServices/XPCTimeStampingService.xpc/Contents/MacOS/XPCTimeStampingService</string>
		<key>name</key>
		<string>com.apple.security.XPCTimeStampingService</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.security.cloudkeychainproxy3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.security.swcagent</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/securityd</string>
		<key>description</key>
		<string>Handle keychains etc</string>
		<key>name</key>
		<string>com.apple.securityd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/securityuploadd</string>
		<key>name</key>
		<string>com.apple.securityuploadd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/seld</string>
		<key>name</key>
		<string>com.apple.seld</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/sensorkitd</string>
		<key>name</key>
		<string>com.apple.sensorkitd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/seserviced</string>
		<key>description</key>
		<string>Secure Element interface</string>
		<key>name</key>
		<string>com.apple.seserviced</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/sharingd</string>
		<key>description</key>
		<string>Generic &quot;Share&quot; action handler</string>
		<key>name</key>
		<string>com.apple.sharingd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/SidecarRelay</string>
		<key>description</key>
		<string>Use iDevice as a screen</string>
		<key>name</key>
		<string>com.apple.sidecar-relay</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/signpost_reporter</string>
		<key>name</key>
		<string>com.apple.signpost.signpost_reporter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.siri-distributed-evaluation</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.siri.ClientFlow.ClientScripter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.siri.acousticsignature</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.siri.context.service</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.siriactionsd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.siriknowledged</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.softwareupdateservicesd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Emergency recovery for iCloud Keychain</string>
		<key>name</key>
		<string>com.apple.sosd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.spindump</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.splashboard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.spotlight.IndexAgent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.storebookkeeperd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/streaming_zip_conduit</string>
		<key>description</key>
		<string>Handle untrusted Zip content out of process</string>
		<key>name</key>
		<string>com.apple.streaming_zip_conduit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.subridged</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.suggestd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/swcd</string>
		<key>description</key>
		<string>Shared Web Credentials</string>
		<key>name</key>
		<string>com.apple.swcd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.symptomsd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.symptomsd.helper</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.syncdefaultsd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.sysdiagnose</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.sysdiagnose_helper</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.systemstats.microstackshot_periodic</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/tailspind</string>
		<key>name</key>
		<string>com.apple.tailspind</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Total and Complete Control - App privacy settings</string>
		<key>name</key>
		<string>com.apple.tccd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.telephonyutilities.callservicesd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.tencentweibo.xpc</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/terminusd</string>
		<key>description</key>
		<string>On-demand VPN</string>
		<key>name</key>
		<string>com.apple.terminusd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/thermalmonitord</string>
		<key>name</key>
		<string>com.apple.thermalmonitord</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/timed</string>
		<key>description</key>
		<string>NTP Client</string>
		<key>name</key>
		<string>com.apple.timed</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/tzd</string>
		<key>name</key>
		<string>com.apple.timezoneupdates.tzd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/tipsd</string>
		<key>description</key>
		<string>Tip of the day</string>
		<key>name</key>
		<string>com.apple.tipsd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Ringtone library access</string>
		<key>name</key>
		<string>com.apple.tonelibraryd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.touchsetupd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/transparencyd</string>
		<key>name</key>
		<string>com.apple.transparencyd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/triald</string>
		<key>description</key>
		<string>Apple A/B testing</string>
		<key>name</key>
		<string>com.apple.triald</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/trustd</string>
		<key>description</key>
		<string>PKI trust evaluation</string>
		<key>name</key>
		<string>com.apple.trustd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Apple TV remote app</string>
		<key>name</key>
		<string>com.apple.tvremoted</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Twitter account handler</string>
		<key>name</key>
		<string>com.apple.twitter.xpc</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/tzlinkd</string>
		<key>description</key>
		<string>Time Zones</string>
		<key>name</key>
		<string>com.apple.tzlinkd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.usb.networking.addNetworkInterface</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/videosubscriptionsd</string>
		<key>name</key>
		<string>com.apple.videosybscriptionsd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.voiced</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.voicemail.vmd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Voice Memos</string>
		<key>name</key>
		<string>com.apple.voicememod</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/watchdogd</string>
		<key>name</key>
		<string>com.apple.watchdogd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>com.apple.watchlistd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/wcd</string>
		<key>name</key>
		<string>com.apple.wcd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/webinspectord</string>
		<key>name</key>
		<string>com.apple.webinspectord</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Webio account handler</string>
		<key>name</key>
		<string>com.apple.webio.xpc</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Host Access Point - Instant Hotspot</string>
		<key>name</key>
		<string>com.apple.wifi.hostapd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/wapic</string>
		<key>name</key>
		<string>com.apple.wifi.wapic</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/wifiFirmwareLoader</string>
		<key>description</key>
		<string>Move the firmware from disk to the WiFi chip</string>
		<key>name</key>
		<string>com.apple.wifiFirmwareLoader</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/wifianalyticsd</string>
		<key>name</key>
		<string>com.apple.wifianalyticsd</string>
	</dict>
	<dict>
		<key>description</key>
		<string>WiFi</string>
		<key>name</key>
		<string>com.apple.wifid</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/wifip2pd</string>
		<key>description</key>
		<string>WiFi peer-to-peer</string>
		<key>name</key>
		<string>com.apple.wifip2pd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/wifivelocityd</string>
		<key>name</key>
		<string>com.apple.wifivelocityd</string>
	</dict>
	<dict>
		<key>binary</key>
		<string>/usr/libexec/xpcroleaccountd</string>
		<key>name</key>
		<string>com.apple.xpc.roleaccountd</string>
	</dict>
</array>
</plist>
